/*Styles for Midterm Project*/

/*general*/

@import url('https://fonts.googleapis.com/css2?family=Grandstander&display=swap');

body {
  /*font-family: "OCR A Std", monospace;*/
  font-family: 'Grandstander'; 
  width: 95%;
  margin: auto;
  font-weight: lighter;
  color: black;
}

main {
	margin: auto;
}

/*header, text*/

header {
	background-color: black;
	color: pink;
	text-align: left;
	margin-bottom: 0.5em;
}

p {
	font-family: sans-serif;
}

/*documentation section*/

#instructions_cols {
	display: flex;
	flex-direction: row;
}

#instructions_cols > div {
	width: 33%;
}

#instructions_cols > div > h3 {
	text-align: center;
}

h1 {
  /*font-size: 1.5em;*/
}

#inventory > h2 {
  font-size: 1em;
  font-weight: bold;
  margin: 5px;
}

#inventory > p {
	font-size: 0.9em;
}

#game_and_inventory {
  display: flex;
  flex-direction: row;
}

#game {
	position: relative;
}

#canvas {
  display: block;
  z-index: -1;
}

#seed_panel, #recipe_book, #inventory {
	background-color: #c8a480ed;
	box-sizing: border-box;
	border-radius: 16px;
}

#seed_panel {
  position: absolute;
  z-index: 1;
  left: 30px;
  top: 200px;
  width: 580px;
  height: 240px;
  padding: 15px;
}

#recipe_book {
  position: absolute;
  z-index: 2;
  left: 20px;
  top: 90px;
  width: 600px;
  height: 460px;
  padding: 15px;
}

#inventory {
  float: left;
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 10px;
  padding-left: 15px;
  padding-right: 10px;
  padding-top: 15px;
}

.inventory_item {
  display: flex;
  flex-direction: row;
  margin-top: 5px;
  margin-bottom: 5px;
}

.inventory_item > img {
  margin-left: 5px;
  margin-right: 10px;
}

.inventory_item > p {
	margin-top: 10px;
	margin-left: 5px;
}

#milk_item {
	margin-left: 10px;
}

#milk_text {
	margin-left: 15px;
}

#seed_buttons,
.recipe_buttons {
  display: flex;
  flex-direction: row;
}

.recipe_item {
  display: flex;
  flex-direction: column;
  padding: 5px;
  width: 23%;
  font-size: 0.9em;
}

.seed_item {
	width: 13.33%;
	font-size: 0.8em;
	padding: 5px;
	text-align: center;
}

.seed_button,
.recipe_button {
  box-sizing: border-box;
  margin: auto;
}

.seed_button:hover,
.recipe_button:hover {
  border: 2px solid green;
}

.recipe_name {
	font-weight: bold;
	font-size: 1em;
}

#cant_cook,
#cant_bake {
  background: red;
  color: white;
  width: 385px;
  padding: 10px;
  margin: auto;
}

.hidden {
  display: none;
}
